/**/
/* Main */
/**/

#app {
  background-color: var(--v-background-base);

  color: var(--v-text-base);
  user-select: none;
}

html {
  overflow: hidden !important;
  font-size: 14px;
}

.main-layout {
  padding: 0rem;

  height: 100%;
  overflow: auto !important;
}



/**/
/* Title Bar */
/**/

.title-bar {
  background-color: var(--v-primary-base);
  -webkit-app-region: drag;
  overflow: hidden !important;
  display: flex;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  height: 1.8rem;
}

.title-label {
  flex: 1;
}

.minimize-window,
.maximize-window,
.close-window {
  -webkit-app-region: no-drag;
  margin-left: 0.875rem;
}



/**/
/* Content */
/**/

.header {
  background-color: none;
  border-radius: 0.5rem;

  padding: 0rem;
  margin: 0.25rem 2rem;
  font-size: 1.75rem;
}

.panel {
  background-color: var(--v-panel_background-base);

  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;

  /* Set the different style for panels that are after a header */
  .header~& {
    margin: 0rem 1rem;
  }

  .panel-header {
    background-color: none;
    border-radius: 0.5rem;

    padding: 0rem;
    margin: 0rem;
    font-size: 1.25rem;
  }
}

.v-btn.square {
  padding: 0rem !important;

  &.v-size--small {
    height: 2rem !important;
    min-width: 2rem !important;
  }

  &.v-size--default {
    height: 2.57rem !important;
    min-width: 2.57rem !important;
  }

  &.v-size--large {
    height: 3.14rem !important;
    min-width: 3.14rem !important;
  }

  &.v-size--x-large {
    height: 3.71rem !important;
    min-width: 3.71rem !important;
  }
}