/**/
/* Main */
/**/

#app {
  background-color: var(--v-background-base);

  color: var(--v-text-base);
  user-select: none;
}

html {
  overflow: hidden !important;
  font-size: 14px;
}

.main-layout {
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: scroll !important;

  &>.content>.container {
    padding-right: 0.5rem !important;
  }
}



/**/
/* Scroll Bar */
/**/

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-button {
  background-color: transparent;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #FFFFFF10;

  border-radius: 5px;

  &:hover {
    background-color: #FFFFFF40;
  }
}



/**/
/* Title Bar */
/**/

.title-bar {
  background-color: var(--v-primary-base);
  -webkit-app-region: drag;
  overflow: hidden !important;
  border-bottom: 1px solid var(--v-background-base);

  &>.title-label {
    padding-left: 0.5rem;
    padding-top: 0.15rem;
    height: 1.7rem;
  }

  &>.window-controls {

    /* All the window controls */
    &>.row>.col {
      -webkit-app-region: no-drag;

      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.05rem;
      height: 1.7rem;
      
      &>.mdi:before {
        font-weight: 100;
      }

      &:hover {
        background-color: var(--v-primary-lighten1);
        
        transition: background-color 0.4s cubic-bezier(0.6, 0.0, 0.0, 1.0);
      }
    }

    /* Close button */
    &>.row>.close-window {
      &:hover {
        background-color: var(--v-error-base);
      }
    }
  }
}




/**/
/* Content */
/**/

.header {
  background-color: none;
  border-radius: 0.5rem;

  padding-left: 1rem;
  font-size: 1.75rem;
}

.main-panels>.v-expansion-panel>.header {
  min-height: 4rem !important;
  padding: 0px !important;
}

.main-panels>.v-expansion-panel {
  background-color: rgba(0, 0, 0, 0) !important;
}

.main-panels>.v-expansion-panel>.v-expansion-panel-content>.v-expansion-panel-content__wrap {
  padding: 0px !important;
}

.panel {
  background-color: var(--v-panel_background-base);

  border-radius: 0.5rem;
  padding: 1rem;

  .panel-header {
    background-color: none;
    border-radius: 0.5rem;

    padding-left: 1rem;

    font-size: 1.25rem;
  }

  .panel {
    background-color: var(--v-panel_background-lighten1);
  }
  
  .help-panel {
    padding-top: 0.5rem;
  }
}

.v-btn {
  margin: 0.25rem;
  
  &.width-1 {
    min-width: 6rem !important;
    max-width: 6rem !important;
  }

  &.width-2 {
    min-width: 9.5rem !important;
    max-width: 9.5rem !important;
  }

  &.width-3 {
    min-width: 13rem !important;
    max-width: 13rem !important;
  }

  &.square {
    padding: 0rem !important;

    &.v-size--x-small {
      height: 1.43rem !important;
      min-width: 1.43rem !important;
    }

    &.v-size--small {
      height: 2rem !important;
      min-width: 2rem !important;
    }

    &.v-size--default {
      height: 2.57rem !important;
      min-width: 2.57rem !important;
    }

    &.v-size--large {
      height: 3.14rem !important;
      min-width: 3.14rem !important;
    }

    &.v-size--x-large {
      height: 3.71rem !important;
      min-width: 3.71rem !important;
    }
  }
}